In [1]:
import pandas as pd
import numpy as np

s1 = pd.Series(np.arange(5), index=['a','b','c','d','e'])
s2 = pd.Series(np.arange(6,11), index=['a','b','f','g','e'])
s1,s2

(a    0
 b    1
 c    2
 d    3
 e    4
 dtype: int64, a     6
 b     7
 f     8
 g     9
 e    10
 dtype: int64)

In [9]:
s1 + s2

a     6.0
b     8.0
c     NaN
d     NaN
e    14.0
f     NaN
g     NaN
dtype: float64

In [11]:
s1.loc['d'] = np.nan
s1

a    0.0
b    1.0
c    2.0
d    NaN
e    4.0
dtype: float64

In [8]:
df1 = pd.DataFrame({'A':[11,22,33],
                   'B':[44,55,66],
                   'C':[77,88,99]})
df2 = pd.DataFrame({'D':[1,2,3,1],
                   'E':[4,5,6,1],
                   'F':[7,8,9,1]})
df1.add(df2, fill_value=100) 
#Realiza a soma em valores que não possuem correspondência entre as Series (nesse caso, todos)

       A      B      C      D      E      F
0  111.0  144.0  177.0  101.0  104.0  107.0
1  122.0  155.0  188.0  102.0  105.0  108.0
2  133.0  166.0  199.0  103.0  106.0  109.0
3    NaN    NaN    NaN  101.0  101.0  101.0

In [18]:
a = pd.Series(np.arange(5), index=['a','b','c','d','e'])
b = pd.Series(np.arange(8,13), index=['a','b','f','g','h'])
soma = a.add(b, fill_value=10)
soma

a     8.0
b    10.0
c    12.0
d    13.0
e    14.0
f    20.0
g    21.0
h    22.0
dtype: float64