Um DataFrame contém índices tanto para linhas quanto para colunas.

In [20]:
import pandas as pd

dados = {'City': ['Ohyo','Michigan','Nevada'],
         'Year': [2001,2014,2020],
         'pop': [1.5,2.1,3.2]}
df = pd.DataFrame(dados)
df

       City  Year  pop
0      Ohyo  2001  1.5
1  Michigan  2014  2.1
2    Nevada  2020  3.2

É possível alterar a ordem das colunas, definindo-a ao transformar os dados em DataFrame:

In [7]:
df2 = pd.DataFrame(dados,columns=('Year','City','pop'),index=('A','B','C'))
df2

   Year      City  pop
A  2001      Ohyo  1.5
B  2014  Michigan  2.1
C  2020    Nevada  3.2

Podemos retornar apenas uma coluna específica do DataFrame, em formato de Serie:

In [8]:
df2.Year

A    2001
B    2014
C    2020
Name: Year, dtype: int64

Para retornar uma linha, basta usar o atributo 'loc':

In [13]:
df2.loc['A']

Year    2001
City    Ohyo
pop      1.5
Name: A, dtype: object

No próximo exemplo, será feita a exclusão de uma coluna:

In [29]:
df2['Coluna_nova'] = df2.Year == 2001
del df2['Coluna_nova']
df2

   Year      City  pop
A  2001      Ohyo  1.5
B  2014  Michigan  2.1
C  2020    Nevada  3.2

Para retornar a transposta (inverter as colunas e linhas), basta usar o mesmo meio que o numpy:

In [31]:
df2.T

         A         B       C
Year  2001      2014    2020
City  Ohyo  Michigan  Nevada
pop    1.5       2.1     3.2

Não é possível alterar os índices em Pandas.