As ufuncs do NumPy funcionam com os objetos do Pandas:

In [5]:
import pandas as pd
import numpy as np

frame = pd.DataFrame(np.random.randn(4,3), columns = list('ABC'), index = [11,22,33,44])
frame

           A         B         C
11  0.123717 -0.396562  0.306846
22  0.082688 -0.172249  0.531207
33 -1.289510  0.087633 -0.027580
44  0.873656  0.008428 -0.561920

In [7]:
np.abs(frame) # Retira o sinal negativo dos dados

           A         B         C
11  0.123717  0.396562  0.306846
22  0.082688  0.172249  0.531207
33  1.289510  0.087633  0.027580
44  0.873656  0.008428  0.561920

In [15]:
format = lambda x: '%.2f' % x
frame['A'].map(format) # Para colunas espec√≠ficas

11     0.12
22     0.08
33    -1.29
44     0.87
Name: A, dtype: object

In [17]:
frame.applymap(format) # Para todos os dados

        A      B      C
11   0.12  -0.40   0.31
22   0.08  -0.17   0.53
33  -1.29   0.09  -0.03
44   0.87   0.01  -0.56