Loc e iloc permitem selecionar um subconjunto de linhas e colunas de um DataFrame.

O iloc é usado para retornar através da posição (0,1,2...), já o loc é usado com o nome da linha ou coluna.

In [12]:
import pandas as pd
import numpy as np

inteiros = np.arange(16).reshape(4,4)
inteiros = pd.DataFrame(inteiros)
inteiros.columns = ['C1','C2','C3','C4']
inteiros.index = ['A','B','C','D']
inteiros

   C1  C2  C3  C4
A   0   1   2   3
B   4   5   6   7
C   8   9  10  11
D  12  13  14  15

In [17]:
inteiros.iloc[1,[2,3]]

C3    6
C4    7
Name: B, dtype: int64

In [20]:
inteiros.loc['A',['C2','C3']]

C2    1
C3    2
Name: A, dtype: int64

In [23]:
inteiros.loc[:'B','C3']

A    2
B    6
Name: C3, dtype: int64