Para ordenar de acordo com o index, usa-se sort_index. Para DataFrames, pode-se especificar qual o eixo para ordenar.

In [2]:
import pandas as pd
import numpy as np

dados = pd.Series(np.arange(5), index=['d','c','e','a','b'])
dados

d    0
c    1
e    2
a    3
b    4
dtype: int64

In [5]:
dados.sort_index()

a    3
b    4
c    1
d    0
e    2
dtype: int64

In [12]:
df = pd.DataFrame(np.arange(16).reshape((4,4)), index=[44,33,11,22], columns=['C','A','B','D'])
df

     C   A   B   D
44   0   1   2   3
33   4   5   6   7
11   8   9  10  11
22  12  13  14  15

In [14]:
df.sort_index()

     C   A   B   D
11   8   9  10  11
22  12  13  14  15
33   4   5   6   7
44   0   1   2   3

In [16]:
df.sort_index(axis=1)

     A   B   C   D
44   1   2   0   3
33   5   6   4   7
11   9  10   8  11
22  13  14  12  15

In [18]:
df.sort_index(ascending=False) # Ordenação decrescente

     C   A   B   D
44   0   1   2   3
33   4   5   6   7
22  12  13  14  15
11   8   9  10  11

Para ordenar uma Series de acordo com o seu valor, usamos o método sort_values:

In [23]:
dados = pd.Series([6,4,90,23,53,14,753])
dados

0      6
1      4
2     90
3     23
4     53
5     14
6    753
dtype: int64

In [25]:
dados.sort_values()

1      4
0      6
5     14
3     23
4     53
2     90
6    753
dtype: int64

In [27]:
dados.sort_values(ascending=False)

6    753
2     90
4     53
3     23
5     14
0      6
1      4
dtype: int64

In [29]:
df.sort_values(by='B')

     C   A   B   D
44   0   1   2   3
33   4   5   6   7
11   8   9  10  11
22  12  13  14  15

Método rank(): Usado para atribuir uma classificação para uma Series ou DataFrame, tratando de empates de várias formas, como:
 - average: Método padrão, média;
 - min: Atribui o menor ranking;
 - max: Atribui o maior ranking;
 - first: Ranking de acoredo com a ordem em que aparecem;
 - dense: Igual o min, porém sem pular rankings.

In [36]:
df = pd.DataFrame({'Valores':[25,10,25,2,10,15]})
df['rank_avg'] = df['Valores'].rank()
df['rank_min'] = df['Valores'].rank(method='min')
df['rank_max'] = df['Valores'].rank(method='max')
df['rank_first'] = df['Valores'].rank(method='first')
df['rank_dense'] = df['Valores'].rank(method='dense')
df

   Valores  rank_avg  rank_min  rank_max  rank_first  rank_dense
0       25       5.5       5.0       6.0         5.0         4.0
1       10       2.5       2.0       3.0         2.0         2.0
2       25       5.5       5.0       6.0         6.0         4.0
3        2       1.0       1.0       1.0         1.0         1.0
4       10       2.5       2.0       3.0         3.0         2.0
5       15       4.0       4.0       4.0         4.0         3.0