In [4]:
import numpy as np
import pandas as pd

csv = pd.read_csv('examples/ex1.csv')
csv

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

Quando o arquivo não há um cabeçalho, podemos criá-lo ou adicionar o parâmetro header=None.

In [11]:
csv2 = pd.read_csv('examples/ex2.csv', header=None)
csv2

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [13]:
csv2 = pd.read_csv('examples/ex2.csv', names=['A','B','C','D'])
csv2

    A   B   C      D
1   2   3   4  hello
5   6   7   8  world
9  10  11  12    foo

Podemos ignorar linhas com skiprows:

In [18]:
csv3 = pd.read_csv('examples/ex3.csv', skiprows=[0,2,3])
csv3

   a  b   c   d      e
0  1  0   3   4  hello
1  5  6   7   8      0
2  9  0  11  12      0

Ao lidar com valores ausentes, o na_values é útil quando queremos considerar um valor como nulo:

In [5]:
csv3 = pd.read_csv('examples/ex3.csv', skiprows=[0,2,3], na_values=0)
csv3

   a    b   c   d      e
0  1  NaN   3   4  hello
1  5  6.0   7   8    NaN
2  9  NaN  11  12    NaN

Podemos especificar o número de linhas que queremos ler com nrows:

In [7]:
ex4 = pd.read_csv('examples/ex4.csv', nrows=3)
ex4

                       one two three four key
0  0 0.467976 -0.038649 -0.295344 -1.824726 L
1   1 -0.358893 1.404453 0.704965 -0.200638 B
2  2 -0.501840 0.659254 -0.421691 -0.057688 G

Para ler um arquivo em partes, podemos definir um chunksize, para posteriormente iterarmos sobre o arquivo:

In [23]:
chunker = pd.read_csv('examples/ex4.csv',chunksize=10)
tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)
tot = tot.sort_values()
tot

key
T    1.0
H    1.0
J    1.0
K    1.0
A    2.0
X    2.0
W    2.0
V    2.0
U    2.0
S    2.0
R    2.0
P    2.0
M    2.0
I    2.0
F    2.0
E    2.0
D    2.0
C    2.0
Y    2.0
Z    2.0
N    3.0
O    3.0
Q    3.0
G    3.0
B    3.0
L    4.0
dtype: object