A propriedade do index "is_unique" pode dizer se os rótulos são únicos ou não:

In [7]:
import pandas as pd
import numpy as np

a = pd.Series(np.arange(5), index=['a','a','b','c','c'])
a.index.is_unique

False

Estatística descritiva: Os objetos do pandas possuem um conjunto de métodos matemáticos comuns, como sum e média. Com sum, é possível somar os valores das colunas e linhas (axis = 1).

In [30]:
df = pd.DataFrame([[110,2.4,np.nan],[34,12,200],[1,41,3.5]],index=['a','b','c'], columns=['one','two','three'])
soma_columns = df.sum()
soma_lines = df.sum(axis=1)
df

   one   two  three
a  110   2.4    NaN
b   34  12.0  200.0
c    1  41.0    3.5

In [13]:
soma_columns

one      46.0
two      18.4
three    23.5
dtype: float64

In [21]:
soma_lines

a    13.4
b    66.0
c     8.5
dtype: float64

Com idxmax e idxmin é possível retornar os índices dos valores maximos e mínimos do DataFrame:

In [32]:
df.idxmax()

one      a
two      c
three    b
dtype: object

In [34]:
df.idxmin()

one      c
two      a
three    c
dtype: object

Função unique: Em uma Series, podemos retornar os valores únicos:

In [49]:
serie = pd.Series(['a','a','f','e','b','e','b','b','b'])
uniques = serie.unique()
uniques.sort()
uniques

array(['a', 'b', 'e', 'f'], dtype=object)

Função value_counts = Retorna o número de ocorrências dos valores da Series.

In [50]:
serie.value_counts()

b    4
e    2
a    2
f    1
dtype: int64

isin = Verificação vetorizada, é possível analisar se determinado valor está dentro do array.

In [53]:
analise = serie.isin(['a', 'f'])
analise

0     True
1     True
2     True
3    False
4    False
5    False
6    False
7    False
8    False
dtype: bool