In [9]:
import pandas as pd

serie = pd.Series([11,22,33,44,55],index=['b','c','a','f','i'])
serie.values
serie.index

Index(['b', 'c', 'a', 'f', 'i'], dtype='object')

Podemos retornar o objeto de uma Serie através de seu rótulo/índice:

In [14]:
serie['i']
serie['a']

33

É possível realizar operações matemáticas com os valores de uma Serie:

In [18]:
serie[serie > 30]
serie[serie * 0.5]
serie # O valor é preservado mesmo com a operação anterior

b    11
c    22
a    33
f    44
i    55
dtype: int64

Pode-se transformar um dict em uma Serie:

In [22]:
dict = {'Amanda':10, 'Julia':24, 'Otavio':67, 'Milia':41}
s = pd.Series(dict)
s

Amanda    10
Julia     24
Otavio    67
Milia     41
dtype: int64

NaN - Not a Number, aparece quando há valores ausentes.
Para verificar se existem dados ausentes em uma Serie, usa-se isnull ou notnull

In [30]:
values = {'Sorocaba':4500, 'Mogi das Cruzes':7609, 'Mogi-Guaçu':89230, 'Florida': 4302}
index = ['Sorocaba','Florianópolis','Mogi das Cruzes','Suzano']
values = pd.Series(values, index=index)
values

Sorocaba           4500.0
Florianópolis         NaN
Mogi das Cruzes    7609.0
Suzano                NaN
dtype: float64

In [36]:
pd.isnull(values)
pd.notnull(values)

Sorocaba            True
Florianópolis      False
Mogi das Cruzes     True
Suzano             False
dtype: bool

É possível nomear a Serie e seus rótulos:

In [39]:
values.name = 'População'
values.index.name = 'Cidade'
values

Cidade
Sorocaba           4500.0
Florianópolis         NaN
Mogi das Cruzes    7609.0
Suzano                NaN
Name: População, dtype: float64