In [2]:
import pandas as pd
import numpy as np

s1 = pd.Series(np.arange(5), index=['a','b','c','d','e'])
s2 = pd.Series(np.arange(6,11), index=['a','b','f','g','e'])
s1,s2

(a    0
 b    1
 c    2
 d    3
 e    4
 dtype: int64, a     6
 b     7
 f     8
 g     9
 e    10
 dtype: int64)

In [9]:
s1 + s2

a     6.0
b     8.0
c     NaN
d     NaN
e    14.0
f     NaN
g     NaN
dtype: float64

In [11]:
s1.loc['d'] = np.nan
s1

a    0.0
b    1.0
c    2.0
d    NaN
e    4.0
dtype: float64

In [8]:
df1 = pd.DataFrame({'A':[11,22,33],
                   'B':[44,55,66],
                   'C':[77,88,99]})
df2 = pd.DataFrame({'D':[1,2,3,1],
                   'E':[4,5,6,1],
                   'F':[7,8,9,1]})
df1.add(df2, fill_value=0)

      A     B     C    D    E    F
0  11.0  44.0  77.0  1.0  4.0  7.0
1  22.0  55.0  88.0  2.0  5.0  8.0
2  33.0  66.0  99.0  3.0  6.0  9.0
3   NaN   NaN   NaN  1.0  1.0  1.0